.educations-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  align-items: center;
  @include container;

  .educations-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 200px;
    &-image {
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @extend .transition;
      cursor: pointer;
      &:hover {
        scale: 1.2;
      }
    }
    h4 {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      @extend .transition;
      &:hover {
        color: $main-color;
      }
    }
  }
}
