#popular-courses {
  margin: 70px 1% 60px;

  .center {
    text-align: center;

    h2 {
      font-size: $h2-font;
      font-weight: 800;
    }
  }

  button {
    @include button;
  }
  .content {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;

    .card {
      position: relative;

      &:hover img {
        scale: 1.05;
      }
      img {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        filter: brightness(70%);
        @extend .transition;
      }
      .info {
        position: absolute;
        bottom: 40px;
        left: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h4 {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 17px;

          i {
            color: $main-color;
          }
        }
      }
    }
  }
}
